.profile {
  padding: 40px 200px 0;
  display: grid;
  grid-template-areas: 
  "avatar name add"
  "avatar subline add";
  align-items: center;
  row-gap: 16px;
  grid-template-columns: min-content 1fr min-content;
}

@media screen and (max-width: 930px) {
  .profile {
    grid-template-areas:
    "avatar"
    "name"
    "subline"
    "add";
    grid-template-columns: auto;
    row-gap: 0;
    justify-items: center;
  }
}

@media screen and (max-width: 767px) {
  .profile { 
    padding: 42px 19px 0;
  }
}