.profile__description {
  grid-area: name;
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
}

@media screen and (max-width: 1040px) {
  .profile__description {
    margin-bottom: 14px;
    column-gap: 10px
  }
};